/* ========== VARIABLES ========== */
:root {
  /* Colors */
  --color-bg-dark: #11231A;
  --color-bg-white: #ffffff;
  --color-text-dark: #0d1b2a; 
  --color-bg-light: #f8f8f8;
  --color-bg-light-green: #f1f8f4;
  --color-text-light: #ffffff;
  --color-text-accent: #2E8B57;;
  --color-border: #ededed; 
  --color-accent: linear-gradient(135deg, #2E8B57 0%, #5CBF7B 100%);
  --color-accent-2: linear-gradient(135deg, #e3f2e7 0%, #f6faf8 100%);
  --color-hover: rgba(46, 139, 87, 0.1);
  --color-hover-light:#49c28a;
  --color-hover-text:#5CBF7B;
  --color-hover-extra-light:#f1f8f4;


  /* Sizes */
  --container-max-width: 1280px;
  --container-padding: 1.5rem;

  /* Padding for regular card */
  --card-padding: 3rem;
  /* Gap between two columns */
  --grid-gap: 5rem;
  /* Padding between sections (top and bottom) */
  --section-padding: 6rem;
   /* Margin bottom for intro section (text after section title) */
  --intro-text-margin-bottom: 2.7rem;

  /* Typography */
  --font-size-body: 1.05rem;
  --font-size-hero-title: 5.5rem;
  --font-size-hero-subtitle: 1.7rem;
  --font-size-nav-cards-title: 1.7rem;
  --font-size-card-title: 1.9rem;
  --font-size-lg-card-title: 2.8rem;

  --font-size-xxl: 4rem;
  --font-size-xl: 3rem;
  --font-size-lg: 1.15rem;
  --font-size-md: 1rem;     /* Font size for footer text */
  --font-size-sm: 0.95rem;  /* Font size for info box */
  --font-size-xs: 0.85rem;  /* Font size for header text, table text, notes, buttons) */


  --font-heading: "Oswald", sans-serif;
  --font-uppercase: "Oswald", sans-serif;
  --font-body: "Poppins", sans-serif;

  /* Border radius */
  --border-radius-img: 10px;
  --border-radius-card: 10px;
  --border-radius-info-box: 6px;
  --border-radius-btn: 25px;

}

@media (max-width: 1024px) {
  :root {
    --font-size-hero-title: 4.8rem;
  }
}

@media (max-width: 768px) {
  :root {
    --section-padding: 5rem;
    --intro-text-margin-bottom: 2.5rem;
    --grid-gap: 3rem;

    --card-padding: 2.5rem;

    --font-size-body: 0.95rem;
    --font-size-hero-title: 3.8rem;
    --font-size-hero-subtitle: 1.4rem;
    --font-size-nav-cards-title: 1.6rem;
    --font-size-card-title: 1.7rem;
    --font-size-lg-card-title: 1.9rem;

    --font-size-xxl: 3rem;
    --font-size-xl: 2.2rem;
    --font-size-lg: 1.05rem;
    --font-size-sm: 0.9rem;
    --font-size-xs: 0.8rem;
  }
}

@media (max-width: 480px) {
  :root {
    --section-padding: 3rem;
    --intro-text-margin-bottom: 2.2rem;
    --grid-gap: 2rem;

    --card-padding: 2rem;

    --font-size-body: 0.9rem;
    --font-size-hero-title: 3.2rem;
    --font-size-hero-subtitle: 1.25rem;
    --font-size-card-title: 1.5rem;
    --font-size-lg-card-title: 1.5rem;


    --font-size-xxl: 2.5rem;
    --font-size-xl: 2rem;
    --font-size-lg: 1rem;
    --font-size-md: 0.95rem;
    --font-size-sm: 0.85rem;
    --font-size-xs: 0.8rem;
  }
}

@media (max-width: 400px) {
  :root {
    --card-padding: 1.5rem;
  }
}

/* ========== GLOBAL STYLES ========== */
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  color: var(--color-text-dark);
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ========== GLOBAL UTILITIES & COMPONENTS ========== */
.container {
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.section {
  padding-block: var(--section-padding);
}

.section-title {
  font-size: var(--font-size-xl);
  margin-block-end: 1.7rem;
}

.section-intro {
  margin-block-end: var(--intro-text-margin-bottom);
}

.section-map {
  border-radius: var(--border-radius-img);
  padding: 1rem;
  background-color: var(--color-border);
  border-radius: var(--border-radius-card);
}

.section-note {
  font-size: var(--font-size-sm);
}

.info-box {
  padding-block-end: 3.5rem;
}

.info-box--grey-section-bg {
  background: var(--color-bg-light);
}

.info-box--white-section-bg {
  background: var(--color-bg-white);
}

.info-box__content {
  /* font-style: italic; */
  background: var(--color-bg-light-green); /* мягкий зелёный, совпадает с карточками */
  border-left: 3px solid var(--color-text-accent);
  padding: 0.8rem 1.4rem;
  border-radius: var(--border-radius-info-box);
  font-size: var(--font-size-sm);
}

.text-semibold {
  font-weight: 600;
}

.btn {
  display: inline-block;
  max-width: 400px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  padding: 1rem 1.5rem;
}


@media (max-width: 480px) {
  .btn {
    padding: 0.9rem 1.4rem 0.8rem;
  }
}


.btn--primary {
  background: var(--color-accent);
  color: var(--color-text-light); 
  border-radius: var(--border-radius-btn);
  box-shadow: 0 6px 20px rgba(46, 139, 87, 0.35);
  transition: all 0.25s ease;
}

.btn--transparent {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--color-text-accent);
  background: #fff;
  border-radius: 9999px;
  font-weight: 600;
  z-index: 1;
}

.btn--transparent::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px; 
  background: linear-gradient(135deg, #2E8B57, #5CBF7B);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

@media (hover: hover) and (pointer: fine) {
  .btn--primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 26px rgba(46, 139, 87, 0.5);
  }

  .btn--transparent:hover {
    background: #F1FBF4;
  }
}


/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color-text-light);
  z-index: 100;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header.header--scrolled {
  background: rgba(255, 255, 255, 0.7);
  color: var(--color-text-dark);
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  display: inline-flex;
  align-items: center;
}

.header__logo {
  width: 60px;
  height: auto;
}

.header__cta--contact {
padding: 0.7rem 1.5rem;
}

@media (max-width: 480px) {
  .header__cta--contact {
    padding: 0.7rem 1.2rem;
  }
}

.nav__right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav__toggle {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: var(--font-size-lg);
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}


.nav__link {
  color: var(--color-text-light);
  padding: 1.25rem 1.5rem;
  font-family: var(--font-uppercase);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (hover: hover) and (pointer: fine) {
  .nav__link:hover {
    color: var(--color-hover-text);
  }
}


/* Navigation for mobile devices */
@media (max-width: 920px) {
  .nav__menu {
    position: absolute;
    left: 0;
    width: 100%;
    /* height: calc(100vh - 3.5rem); */
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
    
    z-index: -1;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--color-bg-light);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
    padding-block-start: 100px;
    padding-block-end: 2rem;
  }

  .nav__link {
    color: var(--color-text-dark);
  }

  .dropdown__menu {
    padding-inline: 1rem;
  }
}


/* Show menu */
.show-menu {
  opacity: 1;
  pointer-events: initial;
}

/* Show icon */
.show-icon {
  color: var(--color-text-dark);
}
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* dropdown */
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 0.7rem;
  transition: transform 0.25s, color 0.25s;
}

.dropdown__link {
  display: block;
  padding: .95rem 1.65rem;
  color: var(--color-text-dark);
  font-family: var(--font-uppercase);
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  font-weight: 500;
  transition: background-color .25s ease, color .25s ease; 
}

.dropdown__menu-item:first-child .dropdown__link {
  border-top-left-radius: var(--border-radius-card);
  border-top-right-radius: var(--border-radius-card);
}

.dropdown__menu-item:last-child .dropdown__link {
  border-bottom-left-radius: var(--border-radius-card);
  border-bottom-right-radius: var(--border-radius-card);
}


.dropdown__menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.dropdown__item.open .dropdown__menu {
  max-height: 1000px;
}
.dropdown__item.open .dropdown__arrow {
  transform: rotate(180deg);
}

.header.header--scrolled .nav__link {
  color: var(--color-text-dark);
}

@media (hover: hover) and (pointer: fine) {
  /* Rotate dropdown icon */
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__link:hover {
  background-color: var(--color-hover);
  color: #317a54;
  }

  .header.header--scrolled .nav__link:hover {
    color: var(--color-hover-text);
  }
}

/* breakpoints */

/* For large devices */
@media (min-width: 920px) {
  .nav {
    height: 6rem;
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 1rem;
    justify-content: initial;
    column-gap: 0.5rem;
  }

  .dropdown__item {
    position: relative;
  }

  .dropdown__menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 80%;
    background-color: var(--color-bg-light);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
    border-radius: var(--border-radius-card);
    min-width: 200px;
    box-shadow: 0 8px 24px rgba(0,0,0,.15);
  }

  .dropdown__menu-item + .dropdown__menu-item {
    border-top: 1px solid rgba(0, 0, 0, .085);
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    /* top: 5.5rem; */
    max-height: 1000px;
    pointer-events: initial;
    transition: top .3s;
  }

  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
}


/* ========== HERO SECTION ========== */
.hero {
  position: relative;
  height: 100vh;
  color: var(--color-text-light);
  text-align: center;
  display: flex;
  align-items: center;       
  justify-content: center;
  overflow: hidden;
  isolation: isolate;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transform: translate3d(0,0,0);
  will-change: transform;
  backface-visibility: hidden;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.55));
  pointer-events: none;
}

.hero--sub {
  height: 50vh;
}

.hero--informasjon {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.6)),
              url(../assets/img/NNCup11.jpg) 50% 40%/cover no-repeat;
}


.hero__inner {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin-inline: auto;
}

.hero__title {
  font-size: var(--font-size-hero-title);
}

.hero-title--sub {
  font-size: var(--font-size-xxl);
}

.hero__info {
  font-size: var(--font-size-hero-subtitle);
  font-weight: 500;
  margin-block-start: 1.5rem;
  margin-block-end: 2.5rem;
}

@media (max-width: 720px) {
  .hero__video {
    content: url("../assets/img/hero_poster_1280-min.jpg");
  }
}

/* ========== ABOUT SECTION ========== */
.about {
  background-color: var(--color-bg-light);
}

.about__title,
.about__intro {
  text-align: center;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.about__card {
  position: relative;
  height: 420px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 768px) {
  .about__card {
    height: 325px;
  }
}

.about__card-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.6s ease;
}

.about__card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.2) 80%
  );
}

.about__card-content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  z-index: 2;
}

.about__card-title {
  font-size: var(--font-size-nav-cards-title);
  font-weight: 800;
  color: var(--color-text-light);
}

@media (hover: hover) and (pointer: fine) {
  .about__card:hover .about__card-bg {
    transform: scale(1.1);
  }
}

/* ========== CLASSES SECTION ========== */
.classes__table {
  overflow-x: auto;
  margin-bottom: 2rem;
}

.classes__table table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-xs);
}

.classes__table th,
.classes__table td {
  width: 25%;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

@media (max-width: 480px) {
  .classes__table th,
  .classes__table td {
    padding: 0.8rem;
  }
}

.classes__table th {
  background: #f7f7f7;
  font-weight: 600;
}

@media (hover: hover) and (pointer: fine) { 
  .classes__table tr:hover td {
    background-color: var(--color-hover);
    transition: background-color 0.2s ease;
  }
}

/* ========== FESTIVAL SECTION ========== */
.festival {
  background: var(--color-bg-light);
}

.festival__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
  align-items: center;
}


.festival__image {
  border-radius: var(--border-radius-img);
  aspect-ratio: 1.2;
  object-fit: cover;
}

@media (max-width: 860px){
  .festival__inner { 
    grid-template-columns: 1fr; 
  }
}

/* @media (max-width: 480px){
  .festival__image {
  aspect-ratio: auto;
  height: auto; 
}
} */

/* ========== FEATURE (CrazyRace) SECTION ========== */
.feature__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
  align-items: center;
}

.feature__image {
  border-radius: var(--border-radius-img);
  aspect-ratio: 1.2;
  object-position: 20% 50%;
  object-fit: cover;
}

@media (max-width: 860px){
  .feature__inner { 
    grid-template-columns: 1fr; 
  }
  .feature__content {
    order: 2;
  }

  .feature__image-wrapper {
    order: 1;
  }
}

/* ========== CONTACT SECTION ========== */
.contact__inner {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: var(--grid-gap);
  align-items: center;
  background-color: var(--color-bg-light);
  padding: var(--card-padding);
  border-radius: var(--border-radius-card);
}


.contact__map {
  max-width: 100%;
}

@media (max-width: 768px) {
  .contact__inner {
  grid-template-columns: 1fr;
}
.contact__map-wrapper {
  order: 2
}
.contact__content {
  order: 1;
}
  
}
@media (max-width: 480px) {
  .contact__map {
  height: 300px;
}
  
}

.contact__details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block-end: 2rem;
}

.contact__address {
  display: flex;
  flex-direction: column;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__link-title {
  font-weight: 600;
}

.contact__link a {
  text-decoration: underline;
}

.contact__icon {
  margin-inline-end: 0.2rem;
}

.contact__actions {
  display: flex;
  gap: 1.5rem;
}



/* ========== PARTNERS SECTION ========== */
.partners {
  background: var(--color-bg-light);
}

.partners__intro {
  margin-block-end: 3.5rem;
}

.partners__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  column-gap: 5rem;
  row-gap: 3.5rem;
}
.partners__grid img {
  flex: 0 1 200px; 
  max-width: 220px; 
  height: auto;
}

@media (max-width: 768px) {
  .partners__grid {
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
  }

  .partners__grid img {
    /* flex: 0 0 calc(50% - 1rem); */
    max-width: 150px;            
  }
}

@media (max-width: 768px) {
  .partners__grid {
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
  }

  .partners__grid img {
    max-width: 150px;            
  }
}

@media (max-width: 410px) {
  .partners__grid {
    column-gap: 1.7rem;
  }

  .partners__grid img {
    max-width: 120px;            
  }
}

/* ========== FOOTER SECTION ========== */
.footer {
  background: var(--color-bg-dark);
  color: var(--color-text-light);
  padding-block: 5rem 3rem;
}

.footer__inner {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 5rem;
  margin-block-end: 5rem;
}

.footer__contact-link {
  white-space: nowrap;
}

@media (max-width: 900px) {
  .footer__inner {
  grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 500px) {
  .footer__inner {
  grid-template-columns: 1fr;
  gap: 3rem;
}
}

@media (max-width: 460px) {
  .footer {
  padding-block: 4rem 3rem;
}
}

/* .footer__logo {
  width: 80px;
  margin-block-end: 1rem;
} */

.footer__brand {
  font-weight: 600;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: var(--font-uppercase);
  letter-spacing: 0.05rem;
  margin-block-end: 1rem;
}

.footer__brand-text {
  font-size: var(--font-size-md);
}

.footer__title {
  font-size: 1.4rem;
  margin-block-end: 1.5rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-md);
  gap: 0.8rem;
}

.footer__links-item { 
  display: flex;
  align-items: flex-start;     
}

.footer__contact-link,
.footer__nav-link {
  transition: color 0.3s ease;
}

@media (hover: hover) and (pointer: fine) { 
  .footer__contact-link:hover,
  .footer__nav-link:hover,
  .footer__bottom-link:hover  {
    color: var(--color-hover-light);
  }
}

.footer__icon {
  margin-inline-end: 0.6rem;
}

.phone-link, 
.email-link {
  text-decoration: underline;
}

.footer__social {
  display: flex;
  gap: 0.7rem;
}

.footer__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 1rem;
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

@media (hover: hover) and (pointer: fine) { 
  .footer__social-link:hover{
    background-color: var(--color-hover-light);
  }
}

.footer__bottom {
  font-size: var(--font-size-xs);
}

.footer__bottom-link {
  text-decoration: underline;
  font-weight: 600;
  transition: color 0.3s ease;
}


/* ======================================= */
/* ======= PRACTICAL INFORMATION PAGE ==== */
/* ======================================= */
/* --- Menu block --- */ 
.page-nav {
  margin-block-start: 4rem;
}

.page-nav__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.page-nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-uppercase);
  letter-spacing: 0.05rem;
  text-align: center;
  padding: 3rem 2rem;
  background: var(--color-bg-light);
  border-radius: var(--border-radius-card);
  transition: background-color 0.25s ease;
}

@media (hover: hover) and (pointer: fine) { 
  .page-nav__item:hover {
    background-color: var(--color-hover-extra-light);
  }

 .page-nav__item:hover .page-nav__icon,
 .page-nav__item:hover .page-nav__label {
    color: var(--color-text-accent);
  }
}

.page-nav__icon,
.page-nav__label {
  transition: color 0.25s ease;
}

.page-nav__icon {
  font-size: 3rem;
  margin-block-end: 1rem;
}

.page-nav__label {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1110px) {
.page-nav__item {
    padding: 2rem 2rem;
  }
}

@media (max-width: 900px) {
.page-nav__grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}
  .page-nav__grid {
    gap: 1rem;
   }
}

@media (max-width: 768px) {
  .page-nav__icon {
    font-size: 2.5rem;
  }

  .page-nav__label {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
 .page-nav__grid {
    gap: 0.5rem;
   }

  .page-nav__item {
    padding: 1.5rem 1.5rem;
  }

  .page-nav__icon {
    font-size: 2.1rem;
    margin-block-end: 0.8rem;
  }
}

@media (max-width: 380px) {
 .page-nav__grid {
  grid-template-columns: 1fr;
 }
}

/* --- Signup block --- */ 
.signup__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-block-end: 2.5rem;
}

@media (max-width: 1022px) {
  .signup__grid {
  grid-template-columns: repeat(2, 1fr);
}
}


.signup__intro {
  margin-block-end: 3rem;
}

.signup__card {
  background: var(--color-hover-extra-light);
  border-radius: var(--border-radius-card);
  padding: var(--card-padding);
}

.signup__card-title {
  font-size: 1.6rem;
  margin-block-end: 0.5rem;
}

.signup__sub { 
  margin-block: 1rem 0.4rem;
}
 
.signup__list-item {
  padding: .35rem 0; 
  border-bottom: 1px solid rgba(0,0,0,.06);
}

.signup__list-item:last-child { 
  border-bottom: 0; 
}

.signup__note {
  margin-block-start: 1rem;
  font-size: var(--font-size-xs);
}


@media (max-width: 860px){
  .signup__grid { 
    grid-template-columns: 1fr; 
  }
}

/* Venues block */
.venues {
  background-color: var(--color-bg-light);
}

.venues__inner {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: var(--grid-gap);
  align-items: center;
}

.venues__intro {
  margin-block-end: 2.5rem;
}

.venues__map {
  max-width: 100%;
}


.venues__list {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.venues__list-item {
  padding: 1.4rem;
  border-radius: var(--border-radius-card);
  background: var(--color-bg-white);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.venues__name {
  font-family: var(--font-uppercase);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  margin-block-end: 0.3rem;
}

@media (max-width: 980px) {
  .venues__inner {
  grid-template-columns: 1fr;
 }
 .venues__map-wrapper {
    order: 2;
    display: flex;
    justify-content: center;
  }

  .venues__content {
    order: 1;
  }

  
}

@media (max-width: 480px) {
  .venues__name {
    font-size: 1.2rem;
  }
  .venues__map {
    height: 300px;
  } 
}


/* --- Accommodation block --- */ 
.accommodation__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.accommodation__card {
  background: var(--color-hover-extra-light);
  border-radius: var(--border-radius-card);
  padding: var(--card-padding);
}

.accommodation__card-title {
  font-size: var(--font-size-card-title);
  text-align: center;
  /* margin-block-end: 0.5rem; */
}

.accommodation__card-icon {
  font-size: var(--font-size-card-title);
  display: flex;
  align-items: center;
  justify-content: center;
}

.accommodation__top {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 1.2rem;
}

.accommodation__card-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

@media (max-width: 768px) {
  .accommodation__content {
    grid-template-columns: 1fr;
    gap: 2rem;
 }
 .accommodation__top {
  gap: 0.7rem;
 }
}

/* --- Parking block --- */ 
.parking {
  background-color: var(--color-bg-light);
}

.parking__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
  align-items: center;
}

.parking__list-item {
  list-style-type: disc;
  list-style-position: inside; 
}

.parking__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block-end: 2.5rem;
}

.parking__note {
  font-style: italic;
}

.parking__note-icon {
  padding-inline-end: 1.5rem;
}

.parking__image {
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-img);
}

@media (max-width: 768px) {
  .parking__grid {
  grid-template-columns: 1fr;
}
}

/* ================================= */
/* ========== RULES PAGE =========== */
/* ================================= */
.rules__table {
  overflow-x: auto;
}

.rules__item-title {
  font-size: var(--font-size-card-title);
  margin-block-end: 1rem;
}

.rules__table table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-xs);
  min-width: 750px;
}


.rules__table td,
.rules__table th {
  /* width: 20%; */
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* .rules__table td:nth-child(1), 
.rules__table th:nth-child(1) {
  width: 25%;
}

.rules__table td:nth-child(3), 
.rules__table th:nth-child(3) {
  width: 35%;
} */

.rules__table th {
  background: #e5e5e5;
  font-weight: 600;
}

@media (hover: hover) and (pointer: fine) {
  .rules__table tr:hover td {
    background-color: var(--color-hover);
    transition: background-color 0.2s ease;
  }
}

.rules__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}



.rules__item--full {
  grid-column: 1 / -1;
}

@media (max-width: 900px) {
   .rules__grid {
     grid-template-columns: 1fr;
     gap: 2rem;
   }
  }

.rules__item {
  background: var(--color-bg-light);
  padding: var(--card-padding);
  border-radius: var(--border-radius-card);
   min-width: 0; 
}


/* =================================== */
/* === PROGRAM AND ACTIVITIES PAGE === */
/* =================================== */

/* --- Program block --- */
.program {
  background: var(--color-bg-light, #fafafa);
}

.program__intro {
  max-width: 700px;
  margin-block-end: 3rem;
}

.program__days {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1040px) {
  .program__days {
    grid-template-columns: 1fr;
  }
}

.program-day {
  background: white;
  border-radius: 1rem;
  padding: var(--card-padding);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.program-day__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-block-end: 1rem;
}

.program-day__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.program-day__list li {
  font-size: var(--font-size-sm);
  list-style-type: disc;
  list-style-position: inside; 
  /* list-style-type: disc; */
  /* padding: 0.5rem 0;
  border-bottom: 1px solid #eee; */
}

.program-day__list li::marker {
  font-size: var(--font-size-sm);
}

/* --- Activities block --- */
.activities__content{
  display: flex;
  flex-direction: column;
  gap: 7rem;
}


/* 
.activities__title,
.activities__intro {
  text-align: center;
} */

.activities__intro {
  padding: var(--card-padding);
  border-radius: var(--border-radius-card);
  background-color: var(--color-bg-light-green);
  margin-block-end: 5rem;
}

@media (max-width: 768px) {
  .activities__content{
  gap: 3rem;
}

.activities__intro {
  margin-block-end: 3rem;
}
}

.activity-item__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: var(--border-radius-card);
  padding: 2rem;
  gap: 3rem;
}
.activity-item:nth-of-type(1) .activity-item__content {
  background-color: var(--color-bg-light);
}

.activity-item:nth-of-type(2) .activity-item__content {
  background-color: var(--color-bg-light-green);
}

.activity-item__title {
  font-size: var(--font-size-lg-card-title);
  margin-block-end: 1.5rem;
}

/* .activity-item__info {
  margin-block-end: 1.5rem;
} */

.activity-item__text {
  padding: 1.5rem;
}

.activity-item__image {
  aspect-ratio: 1.2;
  border-radius: var(--border-radius-img);
  object-fit: cover;
  max-width: 100%;
}

.activity-item__list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: var(--font-size-md);
}

.activity-item__list-item-link {
  text-decoration: underline;
}

.activity-item__intro {
  margin-block-end: 1.2rem;
}

.activity-item__note {
  font-size: var(--font-size-xs);
  margin-block-start: 1.2rem;
}

@media (max-width: 768px) {
  .activity-item__content {
    grid-template-columns: 1fr;
    padding: 1.7rem;
    gap: 1rem;
  }
  .activity-item__text {
    padding: 0;
    order: 2;
  }
  .activity-item__image {
    order: 1;
  }
}

/* =================================== */
/* =========== JUDGES PAGE =========== */
/* =================================== */
.judges-info {
  background: var(--color-bg-light);
}

/* .judges-contact {
  background: var(--color-bg-light);
} */

.judges-contact__inner,
.judges-info__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
  align-items: center;
}

.judges-contact__image,
.judges-info__image {
  border-radius: var(--border-radius-img);
  aspect-ratio: 1.2;
  object-fit: cover;
}

.judges-contact__contact-person {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

.judges-contact__text-wrapper,
.judges-info__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.judges-info__item-link,
.judges-contact__link {
  text-decoration: underline;
}

@media (max-width: 860px){
  .judges-contact__inner,
  .judges-info__inner { 
    grid-template-columns: 1fr; 
  }

  .judges-info__image-wrapper {
    order: 2;
  }

  .judges-info__content {
    order: 1;
  }
}



/* .judges-info__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.judges-info__list {
  margin-block: 1rem;
}

.judges-info__item {
  padding: var(--card-padding);
  border-radius: var(--border-radius-card);
  background-color: var(--color-bg-light);
}

.judges-info__item-title {
  font-size: 2rem;
  margin-block-end: 1rem;
}

.judges-info__item-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.judges-info__item-link {
  text-decoration: underline;
}

.judges-info__btn {
  margin-block-start: 1.5rem;
}

.judges-info__btn {
  width: auto;
}

.judges__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
} */







